@use '_structure.scss';


.container {
    width: 300px;
    padding: 16px;
    background-color: white;
    margin: 0 auto;
    margin-top: 50px;
    border: 1px solid #ddd;
    border-radius: 4px;
}
input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
button {
    background-color: #912568;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
button:hover {
    opacity: 0.8;
}

@media screen and (max-width:1280px){
    .readmeContainer {
        grid-template-columns: 1fr;
        min-height: 1100px;
    }
    
}